node_modules
.next
out
build
dist

.env
.env.local
.env.*.local

.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

next-env.d.ts
.tsbuildinfo
*.tsbuildinfo

.vercel
.idea
.vscode
